<%- include('header'); -%>
    <h1>All podcasts</h1>
    <% for(var i=0; i < podcasts.length; i++) { %>
        <div class="row" style="margin: 20px">
            <div class="col-md-6">
                <div class="row">
                    <h2><%= podcasts[i].title %></h2>
                </div>
                <div class="row">
                    <%= podcasts[i].description %>
                </div>
                
                <input class="row" style="width: 400px" type="text" id="feed<%= i%>" value="<%= podcasts[i].feedUri %>" />

                <button class="copyButton row" data-id="@item.Type"
                    data-clipboard-action="copy" data-clipboard-target="#feed<%= i%>">Copy feed URL
                </button>                    
            </div>
            
            <div class="col-md-6"> 
                <img style="width:250px;height:250px" src="<%= podcasts[i].imageUri %>" alt="podcast art">
            </div>
        </div>

        <% } %>

        <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
        <script>
            function foo() {
                var clipboard = new Clipboard('.copyButton');
                    clipboard.on('success', function(e) {
                        console.log(e);
                        e.clearSelection();
                    });
                    clipboard.on('error', function(e) {
                        console.log(e);
                    });}
            window.onload = foo;
        </script>