<%- include('header', {
    isLoggedIn: true,
    isAdmin: isAdmin
}); -%>
<style>
    .hidden {
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .visible {
            opacity: 1;
            transition: opacity 0.25s ease-in;
        }

        h2 {
            margin-top: 0;
        }
        
        .mainWrapper {
            background-color: crimson;
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
        .podcastWrapper {
            min-width: 300px;
            background-color: aliceblue;
        }

        .podcastImage {
            width:125px;
            height: 125px;
        }
    </style>
<div class="mainWrapper">
    <h1>All podcasts</h1>
    <% for(var i=0; i < podcasts.length; i++) { %>
    <div class="podcastWrapper">
        <div style="background-color: brown">
            <h2>
                <%= podcasts[i].title %>
            </h2>
        </div>
        <div style="background-color: burlywood">
            <%= podcasts[i].description %>
        </div>

        <input style="background-color: chartreuse" type="text" id="feed<%= i%>" value="<%= baseURL + 'feeds/' + podcasts[i].pid + '.xml' %>" />

        <div style="background-color: chocolate">
            <button id="copyButton<%= i %>" class="copyButton" data-clipboard-text="<%= baseURL + 'feeds/' + podcasts[i].pid + '.xml' %>">Copy
                feed URL
            </button>
            <div id="alertText<%= i %>" class="hidden">Copied to clipboard <i class="em em-gift"></i></div>
        </div>
        <div style="background-color: salmon">
            <img class="podcastImage" src="<%= baseURL + 'images/' + podcasts[i].pid + '.png' %>" alt="podcast art">
        </div>
    </div>
    <% } %>
</div>


<script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
<script>
    function onLoad() {
        var clipboard = new Clipboard('.copyButton');
        clipboard.on('success', function (e) {
            let feedId = e.trigger.id.replace("copyButton", "");
            let alertDiv = document.getElementById("alertText" + feedId);

            alertDiv.classList.add('visible');
            setTimeout(function () { alertDiv.classList.remove('visible'); }, 1500);

            e.clearSelection();
        });

        clipboard.on('error', function (e) {
            console.log(e);
        });
    }

    window.onload = onLoad;
</script>